<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="Timer"></div>
        {% block body %}{% endblock %}
    </body>
    <script>
        function getData() {
            $.get("http://api.nbp.pl/api/exchangerates/rates/A/EUR", (data) => {
                $(".Timer").empty();
                let items = [];
                $.each(data["rates"], (key, val) => {
                    items.push('Kurs: ' + data['code'] + ": " + val['mid']);
                });
                $(".Timer").html(items);
            });

        }

        getData();

        window.setInterval(getData, 300000);
    </script>
</html>
