{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nie udało sie odnaleźć strony</h1>

    <p>
        Nie udało sie odnaleźc podanej strony. <a href="{{ path('app_main_page') }}">Wróć na stronę główną</a>.
    </p>
{% endblock %}